.Chart {
  font-family: 'Barlow Semi Condensed';
  min-height: 400px;
  min-width: 300px;
}

.Chart div.responsive-container {
  min-height: 400px !important;
}

.Chart.Choropleth {
  /* min-width: 300px; */
  width: 100%;

}


.Chart .leaflet-container {
  width: 100%;
  min-height: 500px;
  margin: 0 auto;
}

.Chart .custom-tip {
  background-color: #333;
  color: white;
  border-color: #333;
  opacity: 0.85;
  font-size: 0.95em;
  font-family: 'Barlow Semi Condensed';
  padding: 3px;
  font-weight: 600;
}

.Chart .custom-tip::before {
  border-top-color: #333;
}

.Chart .axis text {
  fill: #444;
}

.Chart .axis path {
  stroke: lightgrey;
}

.Chart .axis line.axis-baseline {
  stroke: #bbb;
  stroke-width: 2px;
}

.Chart g.ordinal-labels {
  vertical-align: middle;
}

.Chart .axis-label text, .Chart .ordinal-labels text {
  /* font-size: 1.0rem; */
}

.Chart .axis-title text {
  font-family: 'Barlow', 'Barlow Semi Condensed', 'Roboto';
}

.Chart g.direct-label text {
  font-size: 0.9em;
  font-weight: 700;
  text-anchor: end;
  /* fill: white; */
}

.Chart g.direct-label.light text {
  fill: white;
}

.Chart g.direct-label.dark text {
  fill: #303030;
}
