.Legend {
  position: absolute;
  left: 0;
  bottom: 1em;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
  border: 1px solid #ddd;
  z-index: 1000;
  padding: 0.5em;
  font-size: 1.0rem;
  font-family: 'Barlow Semi Condensed';
  background-color: #ffffffee;
}

.Legend div.vx-legend-shape > div {
  border: 1px solid #888;
}
