.App {
  font-size: 1.2rem;
  font-family: 'Barlow', sans-serif;
  /* padding: 2em; */
  padding-bottom: 2em;
}

.App header h1 {
  /* padding: 0.8em 1.2em; */
  margin: 0.8em 0 1.2em 0;
}

.App header h2 {
  margin: 1em 0 0.5em 0;
}

.App h2, .App h3 {
  font-weight: 500;
}

.App a {
  color: #0791e9;
  /* font-weight: 600; */
}

.App hr {
  margin: 0.6em 2em 1em 2em;
}
